<header class="header">
  <div class="container-fluid mainnav">

    <div>
      <a class="mainnav-title" href="/?p=index"><img class="mainnav-logo" src="/img/logo2.png"></a>
    </div>

    <ul class="mainnav-list" id="myTopnav">
      <li class="mainnav-item mainnav-menu"><a class="mainnav-link" id="menu" href="#">☰</a></li>
      {% for link in nav.links|reverse %}
          {% if link.home == true and link.home is defined %}
            {% if link.label == info.title %}
              <li class="mainnav-item"><a class="mainnav-link mainnav-active" href= {{ link.href }}>{{ link.label }}</a></li>
            {% else %}
              <li class="mainnav-item"><a class="mainnav-link" href= {{ link.href }} >{{ link.label }}</a></li>
            {% endif %}
          {% else %}
            <li class="mainnav-item"><a class="mainnav-link" href="/?p=index">Home</a></li>
          {% endif %}
        {% endfor %}
    </ul>

  </div>
</header>

<nav class="sidebar">
  {% for link in nav.links %}
      {% if link.home == true and link.home is defined %}
        {% if link.label == info.title %}
          <a href= {{ link.href }} class="sidebar-link mainnav-active">{{ link.label }}</a>
        {% else %}
          <a href= {{ link.href }} class="sidebar-link">{{ link.label }}</a>
        {% endif %}
      {% else %}
        <a href="/?p=index" class="sidebar-link">Home</a>
      {% endif %}
    {% endfor %}
</nav>
